<div *ngIf="client">
    <div class="boxed-group">
        <h3 class="menu-heading text-center">Client works!</h3>
        <div class="boxed-group-inner">
            <div class="btn btn-info" [routerLink] = "['/clients']" style="border-radius: 3px;">Back</div>
            <br />
            <h2 class="page-header">{{client.name}} <small>{{client.city}}</small></h2>

            <ul class="list-group">
                <li class="list-group-item">Age: {{client.age}}</li>
                <li class="list-group-item">Occupation: {{client.occupation}}</li>
            </ul>
        </div>
    </div>
</div>
