@import url('/node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('/node_modules/primer-css/build/build.css');
@import url('/node_modules/primeng/resources/primeng.css');
@import url('/node_modules/primeng/resources/themes/bootstrap/theme.css');


body {
    font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    line-height: 1.4;
}

.no-paddings{
    padding: 0 !important;
}

.height-7em-align-v {
    height: 7em;
    line-height: 6em;
}

@media (min-width: 768px) {
    .no-float {
        float: none;
    }

    .desktop-padding-top {
        padding-top: 8.5em;
    }
}

.profile-container {
    width: 99vw;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

/*Boxed Group*/
.boxed-group {
    position: relative;
    margin-bottom: 30px;
    border-radius: 3px;
}

.boxed-group-inner {
    padding: 10px;
    font-size: 13px;
    color: #666;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.boxed-group>h3, .boxed-group .heading {
    display: block;
    padding: 9px 10px 10px;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
}

.cursor-hand:hover {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f5f5f5;
}

.error {
    background: #f1f0ef;
    padding: 1em;
    width: 100%;
    display: block !important;
    margin-bottom: 20px;
}

.logout-button {
    border: 0;
    position: absolute;
    right: 20px;
    top: 10px;
    border-radius: 4px;
    padding: 6px 3px;
    float: right;
    z-index: 1;
}