<div *ngIf="(_af.auth | async)" class="page-content profile-container visible-xs-inline-block" style="height: 15vh">
    <div class="columns" style="margin: 0!important;">
        <div class="accordion">

            <input id="accord" type="checkbox">
            <label for="accord" class="btn" style="position: absolute; left: 20px; top: 10px; z-index: 1">
                <i class="fa fa-bars"></i>
            </label>

            <div class="menu-dropdown ac-small" role="navigation" style="width: 100%;">
                <nav class="menu text-center col-xs-12" style="padding: 0 !important">
                    <h3 class="menu-heading text-center" style="height: 54px; font-size: 17px; line-height: 40px;">Menu</h3>
                    <div class="inline-nav-item col-xs-4 cursor-hand" [routerLink]="['']" [class.selected]="route == ''" (click)="route = ''">Home</div>
                    <div class="inline-nav-item col-xs-4 cursor-hand" [routerLink]="['/clients']" [class.selected]="route == 'clients'" (click)="route = 'clients'">Clients</div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div *ngIf="(_af.auth | async)" class="col-sm-4 hidden-xs no-paddings" role="navigation" style="height: 100vh; background-color: lightgray;">
    <nav class="menu text-center" style="display: inline-block; width: 100%; height: 100%">
        <div class="menu-item cursor-hand height-7em-align-v" [routerLink]="['']" [class.selected]="route == ''" (click)="route = ''" style="margin-top: 13em">Home</div>
        <div class="menu-item cursor-hand height-7em-align-v" [routerLink]="['/clients']" [class.selected]="route == 'clients'" (click)="route = 'clients'">Clients</div>
    </nav>
</div>
